.msg{
    margin-bottom: -1vh;
}

.textbox{
    margin-top: 2vh;
}

.buttonContainer{
    margin-top: -3vh;
    display: flex;
    justify-content: flex-end;
}

.content{
    display: flex;
    flex-direction: column;
}