.homepage-container{
    display: flex;
    height: 150vh;
    flex-direction:column;
}

.home-body{
    display: flex;
    flex: 15;
    font-family: 'Alegreya Sans', sans-serif;
}

.home-fotter{
    flex: 2;
    padding: 0.25vh;
    margin-top: 1vh;
    display: flex;
    flex-direction:column;
}

.footer-up{
    flex: 1;
    background-color:#e2dddd;
    text-align: center;
    padding-top: 2.5vh;
}
.notice{
   margin-right: 5vh;
   font-family: 'Merriweather', serif;
    font-weight: 700;
}

.footer-down{
    flex: 2;
    background-color: #f5f5f5;
    display: flex;
    justify-content:flex-end;
}

.address{
    font-size: 1.65vh;
    flex-basis: 18%;
    margin-right: 2vh;
    font-family: 'Alegreya Sans', sans-serif;
}
.tel{
    font-size: 1.65vh;
    flex-basis: 10%;
    margin-right: 0.5vh;
    font-family: 'Alegreya Sans', sans-serif;
}
.copy-rights{
    flex-basis: 70%;
    margin-top: 7vh;
    font-size: 1.5vh;
    font-family: 'Alegreya Sans', sans-serif;
}
.main-content{
    order:1;
    flex: 4;
    display: flex;
    flex-direction:column;
   
}

.ad-content{
    order:2;
    width: 10vh;
    flex: 1;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

.ad-sm{
    margin: 1.5vh;
    height: 10%;
    padding: 0.5vh;
}

.ad-md{
    margin: 1.5vh;
    height: 20%;
    padding: 0.25vh;
}


.ad-lg{
    margin: 1.5vh;
    height: 40%;
    padding: 0.5vh;
}

.content-01{
    flex: 2;
    display: flex;
   
}

.content-02{
    flex: 4;
    display: flex;
    flex-direction:column;
}

.discription{
    flex: 2;
    font-family: 'Alegreya Sans', sans-serif;
}

.news-cards{
    flex: 3;
    display: flex;
    justify-content: space-between;
}

.news{
    flex-basis: 30%;
    margin: 1vh;
    background-color: #f5f5f5;
    display: flex;
    flex-direction:column;
    padding: 1vh;
}

.news-content-header{
    flex:3;
    display: flex;

}

.news-icon{
    flex-basis: 30%;
    background-color: #e2dddd;
}

.news-heading{
    flex-basis: 60%;
    margin: auto;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 600;
    font-size: 3vh;
}

.news-content-body{
    flex: 5;
    font-size: 2.25vh;
    margin-top: 1vh;
    font-family: 'Alegreya Sans', sans-serif;
}

.image-slider{
    background-image: url('https://mysliit-my.sharepoint.com/personal/it15116420_my_sliit_lk/_layouts/15/guestaccess.aspx?docid=16bf353812f9847bb8734d6d38747ccc0&authkey=AZfEzYrKUJklxmz_SvZK3B4&expiration=2018-01-24T08%3A44%3A03.000Z&e=b5f4d72e777d4e598b9734554be35e5b');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 99%;
    height: 92%;
    margin: auto;
    border-radius: 5px;
    box-shadow: 1px 1px 15px 1px rgba(179,179,179,0.78);
}

.social-meadia-facebook{
    background-image: url('https://mysliit-my.sharepoint.com/personal/it15116420_my_sliit_lk/_layouts/15/guestaccess.aspx?docid=14800b4932396413f9d26b955976b899d&authkey=AZDCOl2ljGLss-E-uWyKv8Y&expiration=2018-01-24T08%3A44%3A42.000Z&e=faac28099fd0481381a71e10fe83ccbe');
}

.social-meadia-email{
    background-image: url('https://mysliit-my.sharepoint.com/personal/it15116420_my_sliit_lk/_layouts/15/guestaccess.aspx?docid=1b344fcbeb7b2461ca36de0be50123444&authkey=AWqGagcnVPFgqsD5tASnIKA&expiration=2018-01-24T08%3A44%3A58.000Z&e=9fa8e6fa3ba8498189a80b95125eb402');
}

.social-meadia-twitter{
    background-image: url('https://mysliit-my.sharepoint.com/personal/it15116420_my_sliit_lk/_layouts/15/guestaccess.aspx?docid=1ba3096a3e1e6480186593f0794e8e6e9&authkey=AfoujWA7TgqxCvAbJfExc6o&expiration=2018-01-24T08%3A45%3A13.000Z&e=2e2b2aa999af45c4ae7f3538fd14a2d5');
}

.icon-settings{
    width: 6.75vh;
    height: 8vh;
    background-repeat: no-repeat;
    margin-top: 1.5vh;
    margin-right: 2vh;
}

.ad-image1{
    background-image: url('https://mysliit-my.sharepoint.com/personal/it15116420_my_sliit_lk/_layouts/15/guestaccess.aspx?docid=121a9bc6b3d95416eba3bdc8e35b7c406&authkey=AQCMNRDT_-MmKXt3mwbB6es&expiration=2018-01-24T08%3A45%3A39.000Z&e=036b6a5fddee4be2b127174bb25eb94c');
    background-repeat: no-repeat;
    background-size: 100%;
}
 
.ad-image2{
    background-image: url('https://mysliit-my.sharepoint.com/personal/it15116420_my_sliit_lk/_layouts/15/guestaccess.aspx?docid=14493cb25782242fea62977e25d61bae8&authkey=AUxSRSuX6d-9dD3soTsVa6g&expiration=2018-01-24T08%3A45%3A57.000Z&e=4774630d678d48b78a8e57ac2e0e4030');
    background-repeat: no-repeat;
    background-size: 100%;
}

.ad-image3{
    background-image: url('https://mysliit-my.sharepoint.com/personal/it15116420_my_sliit_lk/_layouts/15/guestaccess.aspx?docid=1c43912fb90e14f3fab5b7e127b52cb36&authkey=AYsdQGSSjv_0lUj7PlFplrE&expiration=2018-01-24T08%3A46%3A18.000Z&e=ad7712b163484eb4807113f8b44d95da');
    background-repeat: no-repeat;
    background-size: 100%;
}

.ad-image4{
    background-image: url('https://mysliit-my.sharepoint.com/personal/it15116420_my_sliit_lk/_layouts/15/guestaccess.aspx?docid=1488f2e5313bf48c9a12c32c022dc12f8&authkey=AQIvZxrRYC7fNsMb9Op6YLI&expiration=2018-01-24T08%3A46%3A33.000Z&e=259bd695d0cf41ab9fbc44ad10a9f22d');
    background-repeat: no-repeat;
    background-size: 100%;
}

.ad-content{
    width: 100%;
    height: 100%;
}

.news-icon-release{
    background-image: url('https://mysliit-my.sharepoint.com/personal/it15116420_my_sliit_lk/_layouts/15/guestaccess.aspx?docid=14cfe54960c32448fa6b4725b1758ff4f&authkey=AUrH5CGMDAHoVNHVR6ikvQE&expiration=2018-01-24T08%3A47%3A00.000Z&e=be017f2d7eb147b9b74ced968c78aa14')
}

.news-icon-report{
    background-image: url('https://mysliit-my.sharepoint.com/personal/it15116420_my_sliit_lk/_layouts/15/guestaccess.aspx?docid=1b0356079dbac42b2bc25ef10f130bb96&authkey=ASoIBKMTuGI13qaSJL0YNqw&expiration=2018-01-24T08%3A47%3A21.000Z&e=277626bad8e840718a69a752ae05f9c5')
}

.news-icon-help{
    background-image: url('https://mysliit-my.sharepoint.com/personal/it15116420_my_sliit_lk/_layouts/15/guestaccess.aspx?docid=14dbac5cc87ff47e293714533ba889b85&authkey=AU8EvbnfpKbvFpg4AdxV5iw&expiration=2018-01-24T08%3A47%3A37.000Z&e=32bb4ea4e5504e2c861d4663e0fe0f09')
}

.news-icon-settings{
    width: 7vh;
    height: 9vh;
    background-repeat: no-repeat;
    margin: 5vh;
}
