.homepage-container{
    display: flex;
    height: 100vh;
    flex-direction:column;
}

.home-body{
    display: flex;
    flex: 15;
    font-family: 'Alegreya Sans', sans-serif;
    background-image: url('https://mysliit-my.sharepoint.com/personal/it15116420_my_sliit_lk/_layouts/15/guestaccess.aspx?docid=10139c5184e4f4a669f53a3baf7970138&authkey=Abn1Uo-LraLkVz6v_HewQD8&expiration=2018-01-24T08%3A49%3A10.000Z&e=19991d9e00e743c48f88dc80f92c506d');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: relative;   
}

.login-container{
    margin: auto;
    width: 30%;
    height: 53%;
    background-color:rgba(253, 247, 247, 0.74);
    border-radius: 5px;
    box-shadow: 0px 0px 21px 1px rgba(243, 243, 243, 0.925);
    display: flex;
    flex-direction: column;
}

.main-content{
    order:1;
    flex: 4;
    display: flex;
    flex-direction:column;  
}

.header{
    flex: 2;
    margin: auto;
    margin-top: 2vh;
}

.body{
    flex: 4;
    display: flex;
    flex-direction: column;
    padding: 3vh;
}

.body-content{
    flex:2;
}

.body-button{
    flex :1;
    
}

.fotter{
    flex: 1;
    margin: auto;
}

.icon-settings{
    width: 6.75vh;
    height: 8vh;
    background-repeat: no-repeat;
    margin-top: 1.5vh;
    margin-right: 2vh;
}

.img-responsive{
    width: 35vh;
    height: 11vh;

}