.homepage-container{
    display: flex;
    height: 120vh;
    flex-direction:column;
}

.home-body{
    display: flex;
    flex: 15;
    font-family: 'Alegreya Sans', sans-serif;
}

.home-fotter{
    flex: 2;
    padding: 0.25vh;
    display: flex;
    flex-direction:column;
}

.footer-down{
    flex: 2;
    background-color: #f5f5f5;
    display: flex;
    justify-content:flex-end;
}

.address{
    font-size: 1.65vh;
    flex-basis: 18%;
    margin-right: 2vh;
    font-family: 'Alegreya Sans', sans-serif;
}
.tel{
    font-size: 1.65vh;
    flex-basis: 10%;
    margin-right: 0.5vh;
    font-family: 'Alegreya Sans', sans-serif;
}
.copy-rights{
    flex-basis: 70%;
    margin-top: 7vh;
    font-size: 1.5vh;
    font-family: 'Alegreya Sans', sans-serif;
}
.main-content{
    order:1;
    flex: 4;
    display: flex;
    flex-direction:column;  
}

.photo-section{
    flex: 1;
    display: flex;
}

.user-photo{
    flex: 1;
    display: flex;
}

.photo{
    width: 32vh;
    height: 32vh;
    margin: auto;
    margin-left: 5%; 
    padding: 1vh;
    display: flex;
}

.photo-img{
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: relative;
    width: 30vh;
    height: 30vh;
    margin: auto;
}

.user-discription{
    flex: 2;
    display: flex;
    flex-direction: column;
}

.disk-cont1{
    margin-top: 2%;
}
.change-pass{
    margin-top: 3%;
    font-size: 2.5vh;
}
.tab-section{
    flex:2;
    padding: 0.5vh;
}



.social-meadia-facebook{
    background-image: url('./../../assets/facebook.svg');
}

.social-meadia-email{
    background-image: url('./../../assets/email.svg');
}

.social-meadia-twitter{
    background-image: url('./../../assets/twitter.svg');
}

.icon-settings{
    width: 6.75vh;
    height: 8vh;
    background-repeat: no-repeat;
    margin-top: 1.5vh;
    margin-right: 2vh;
}


  
  .demo-tab-content {
    padding: 2vh;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .demo-tab-content-repo{
   
    width: 100%;
    height:70vh;
    display: flex;
    flex-direction: column;
  }

  .graph-button {
    flex: 1;
  }
  .graph{
    flex:12;
    display: flex;
  }
  .graph1{
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .graph2{
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .title{
      margin: auto;
      font-size: 3vh;
  }
  .data-row{
      height: 10%;
      display: flex;
      justify-content: space-around;
      margin-top: 3%;
  }

  .data-row-gender{
    display: flex;
    justify-content:flex-start;
    margin-top: 3%;
  }

  .lbl-gender{
    margin-left: 5%;
    margin-right: 2%;
  }

  .cont1{
      flex-basis: 40%;
  }
  .cont2{
    flex-basis: 40%;
}
/* Structure */
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 100%;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 50%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 100%;
  }

.camara-icon{
    width: 4vh;
    height: 4vh;
    background-image: url('./../../assets/camera.svg');
    background-repeat: no-repeat;
    background-size: cover;
}