  
  .example-spacer {
    flex: 1 1 auto;
  }

.log-user-icon {
    width: 5vh; 
    height: 5vh;
    margin-top: 0.35%;
}

.user-photo{
  border-radius: 3vh;
  width: 5vh;
  height: 5vh;
  background-repeat: no-repeat;
}



.mainTitle{
  margin: 1vh;
  background-image: url('https://mysliit-my.sharepoint.com/personal/it15116420_my_sliit_lk/_layouts/15/guestaccess.aspx?docid=107867940853e4ee9ba73dd9a7bdf96b8&authkey=Afn8Yb6k5FCB8Nxi8xfLOvI&expiration=2018-01-24T08%3A41%3A33.000Z&e=2282308882c847bd85b82c057638d069');
  width: 16vh;
  height: 6vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: relative;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.main-conataine{
  width: 100%;
  height: 100%;
}

.mat-button{
  font-family: 'Merriweather', serif;
}
