.homepage-container{
    display: flex;
    height: 120vh;
    flex-direction:column;
}

.home-body{
    display: flex;
    flex: 12;
    font-family: 'Alegreya Sans', sans-serif;
}

.home-fotter{
    flex: 2;
    padding: 0.25vh;
    display: flex;
    flex-direction:column;
}

.footer-up{
    flex: 1;
    background-color:#e2dddd;
    text-align: center;
    padding-top: 2.5vh;
}
.notice{
   margin-right: 5vh;
   font-family: 'Merriweather', serif;
    font-weight: 700;
}

.footer-down{
    flex: 2;
    background-color: #f5f5f5;
    display: flex;
    justify-content:flex-end;
}

.address{
    font-size: 1.65vh;
    flex-basis: 18%;
    margin-right: 2vh;
    font-family: 'Alegreya Sans', sans-serif;
}
.tel{
    font-size: 1.65vh;
    flex-basis: 10%;
    margin-right: 0.5vh;
    font-family: 'Alegreya Sans', sans-serif;
}
.copy-rights{
    flex-basis: 70%;
    margin-top: 7vh;
    font-size: 1.5vh;
    font-family: 'Alegreya Sans', sans-serif;
}
.main-content{
    order:1;
    flex: 4;
    display: flex;
    flex-direction:column; 
}

.content-01{
    flex: 1;
    display: flex; 
}

.content-02{
    flex: 1;
    display: flex;
    flex-direction:column;
}


.social-meadia-facebook{
    background-image: url('https://mysliit-my.sharepoint.com/personal/it15116420_my_sliit_lk/_layouts/15/guestaccess.aspx?docid=14800b4932396413f9d26b955976b899d&authkey=AZDCOl2ljGLss-E-uWyKv8Y&expiration=2018-01-24T08%3A44%3A42.000Z&e=e27140d106d646faa37fa1d1008521dd');
}

.social-meadia-email{
    background-image: url('https://mysliit-my.sharepoint.com/personal/it15116420_my_sliit_lk/_layouts/15/guestaccess.aspx?docid=1b344fcbeb7b2461ca36de0be50123444&authkey=AWqGagcnVPFgqsD5tASnIKA&expiration=2018-01-24T08%3A44%3A58.000Z&e=e2c81fc9bb024b95bdd0813c91e8b555');
}

.social-meadia-twitter{
    background-image: url('https://mysliit-my.sharepoint.com/personal/it15116420_my_sliit_lk/_layouts/15/guestaccess.aspx?docid=1ba3096a3e1e6480186593f0794e8e6e9&authkey=AfoujWA7TgqxCvAbJfExc6o&expiration=2018-01-24T08%3A45%3A13.000Z&e=6cb0a42593fb46c79d4814e07607a511');
}

.icon-settings{
    width: 6.75vh;
    height: 8vh;
    background-repeat: no-repeat;
    margin-top: 1.5vh;
    margin-right: 2vh;
}

  
.demo-tab-content {
    width: 100%;
    height: 39vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.data-row{
    height: 10%;
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    margin-left: -5%;
}

.card-data-row1{
    display: flex;
    flex: 1;
    margin-left: 0.2%;
    margin-top: 2%; 
}

.card-data-row2{
    display: flex;
    flex: 1;
    justify-content: space-around;
    margin-top: 2%;
    margin-left: 0.6%;
}

.card-data-row3{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    height: 55%;
    margin-top: 2%;
}

.data-row-gender{
  display: flex;
  justify-content:flex-start;
  margin-top: 3%;
}

.lbl-gender{
  margin-left: 5%;
  margin-right: 2%;
}

.cont1{
    flex-basis: 30%;
}
.cont2{
  flex-basis: 30%;
  margin-left: -5%;
}

.cont1-card-type{
    flex-basis: 30%;
    margin-left: 5%;
}

.card-cont1{
    flex-basis: 30%;
    margin-left: 0.5%;
}

.card-cont2{
    flex-basis: 30%;
}

.card-cont3{
    flex-basis: 5%;
}

.data-row-heding{
    height: 6%;
    display: flex;
    margin-top: 1%;
}
.personal-details{
    font-size: 5vh;
    flex-basis: 20%;
    margin-left: 5%; 
}

.doPayment{
    width: 18%;
    height: 60%;
    margin-top: 1.5%;
}